@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

header {
  font-family: Merriweather, serif;
  text-align: center;
  line-height: 1.5;
  background-color: #d05c2e;
  color: #fff;
  clear: both;
  padding: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: .4em 0;
  width: 100%;
  border-bottom: solid #a63f38;
  border-width: 1px;
}

img {
  padding: .7em 0;
  width: 40px;
  margin: .3rem;
}

.grain-left {
  float: left;
}

.grain-right {
  float: right;
}

.wrapper {
  overflow: hidden;
}

nav {
  font-size: 1.125rem;
}

a {
  float: left;
  width: 33%;
  border-bottom: solid #a63f38;
  border-width: 1px;
  padding: .4rem 0;
}

a:hover {
  background-color: #a63f38;
}

.nav-left {
  float: left;
  border-right: solid #a63f38;
  border-width: 1px;
}

.nav-right {
  float: right;
  border-left: solid #a63f38;
  border-width: 1px;
}
